.dzu-dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 120px;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    transition: all .15s linear;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
}

.dzu-dropzoneActive {
    background-color: #DEEBFF;
    border-color: #2484FF;
}

.dzu-dropzoneDisabled {
    opacity: 0.5;
}

.dzu-dropzoneDisabled *:hover {
    cursor: unset;
}

.dzu-input {
    display: none;
}

.dzu-inputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2484FF;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.dzu-inputLabelWithFiles {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 0 14px;
    min-height: 32px;
    background-color: #E6E6E6;
    color: #2484FF;
    border: none;
    font-family: 'Helvetica', sans-serif;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.dzu-previewContainer {
    padding: 40px 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 60px;
    z-index: 1;
    border-bottom: 1px solid #ECECEC;
    box-sizing: border-box;
}

.dzu-previewStatusContainer {
    display: flex;
    align-items: center;
}

.dzu-previewFileName {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.dzu-previewImage {
    width: auto;
    max-height: 40px;
    max-width: 140px;
    border-radius: 4px;
}

.dzu-previewButton {
    background-size: 14px 14px;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
    opacity: 0.9;
    margin: 0 0 2px 10px;
}

.dzu-submitButtonContainer {
    margin: 24px 0;
    z-index: 1;
}

.dzu-submitButton {
    padding: 0 14px;
    min-height: 32px;
    background-color: #2484FF;
    border: none;
    border-radius: 4px;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.dzu-submitButton:disabled {
    background-color: #E6E6E6;
    color: #333333;
    cursor: unset;
}

.simple-cloud .tag-cloud-tag {
    cursor: pointer;

}

.carousel-item{
    overflow: hidden;
}

.carousel-item img{
    height: 70vh;
    max-width: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


.ReactTags__tags {
    position: relative;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #0d6efd;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 0.25rem;
}

.ReactTags__selected span.ReactTags__tag:first-child {
    margin-left: 0px;
}
.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 0.15rem;
    cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
}
.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

.ReactTags__remove {
    margin-left: 0.1rem;
    border: none;
    cursor: pointer;
    background: none;
    color: white;
}
